*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

/*navbar*/
#navbar{
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s;
}

.menu{
    position: absolute;
    right: 10px;
}

.menu a{
    color: #555;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 20px;
    padding: 25px 20px;
}

.menu a:hover{
    /* color: rgb(255, 59, 134); */
    background: rgba(200, 200, 200, 0.3);
}

.btn{
    display: none;
    position: absolute;
    right: 20px;
}

.btn:hover > span{
    background: rgb(255, 59, 134);
}

.btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #555;
}

.tab{
    padding: 5vh;
}

.tab h1{
    text-transform: uppercase;
}