*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: #555;
}

/* POP UP BERITA*/


/* widget */
iframe{
    width: 100%;
    margin: auto;
    height: 100%;
    border: none;
    opacity: 0.9;
}

/* Tombol scroll to top */
#btnTop{
    position: fixed;
    right: 5vh;
    bottom: 5vh;
    font-size: 26px;
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: rgb(255, 59, 134);
    color: #fff;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

#btnTop:hover{
    background: rgb(206, 47, 108);
}

/*navbar*/
#navbar{
    position: fixed;
    height: 80px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s;
}

.menu{
    position: absolute;
    right: 10px;
}

.menu a{
    color: #555;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 20px;
    padding: 25px 20px;
}

a#adm-log{
    display: none;
}

.menu a:hover{
    /* color: rgb(255, 59, 134); */
    background: rgba(200, 200, 200, 0.3);
}

.btn{
    display: none;
    position: absolute;
    right: 20px;
}

.btn:hover > span{
    background: rgb(255, 59, 134);
}

.btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #555;
}

.container{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.image{
    margin-left: 10vh;
}

.image img{
    width: 65vh;
}

.intro{
    /* position: absolute; */
    margin-left: 15vh;
    padding-right: 10vh;
}

.intro h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.intro p{
    font-size: 24px;
}

.buttonn{
    /* float: right; */
    margin-top: 5vh;
    padding-right: 5vh;
    text-align: center;
}

.buttonn button{
    padding: 5px 20px;
    border: none;
    outline: none;
    background: rgb(255, 59, 134);
    color: #fff;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 0 2px rgb(206, 47, 108);
}

.buttonn button:hover{
    background: rgb(206, 47, 108);
}

/* KASUS */
#kasus{
    padding: 0 15vh 0 15vh;
    height: auto;
}

iframe{
    border-radius: 12px;
    width: 100%;
    height: 40vh;
    margin-bottom: 10vh;
}

#container table{
    width: 100%;
    margin: auto;
}

#container h1{
    text-transform: uppercase;
    font-size: 50px;
}

#container p{
    font-size: 23px;
}

#container .border{
    height: 3px;
    width: 50vh;
    background: #555;
    margin-top: 10px;
    margin-bottom: 20px;
}

#content{
    /* margin: 5px; */
    border: 3px solid rgb(223, 222, 222);
    border-radius: 8px;
    /* height: 60vh; */
    padding: 5vh;
}

a{
    text-decoration: none;
}

#pel{
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(255, 59, 134);
    float: right;
}

#pel:hover{
    color: rgb(206, 47, 108);
}

#cards{
    /* margin-top: 7vh; */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    /* grid-auto-rows: 22vh; */
}

.card{
    border: none;
    outline: none;
    padding: 5vh;
    text-transform: uppercase;
    border-radius: 15px;
    text-align: center;
}

.card h3{
    font-size: 28px;
    color: #888;
    font-weight: 500;
}

.card h2{
    font-size: 32px;
}

section{
    height: 90vh;
}

.title-con h1{
    text-transform: uppercase;
    font-size: 50px;
}

.content{
    display: flex;
    margin-top: 5vh;
}

.content img{
    /* width: 50vh; */
    height: 80vh;
    margin-left: 15vh;
    /* margin-top: 5vh; */
}

.txt-con{
    font-size: 24px;
    margin-left: 10vh;
    width: 115vh;
}

.txt-con h2{
    margin: 0;
    margin-left: 5vh;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-left: 15vh;
    margin-top: 10vh;
}

.top-left h1{
    text-transform: uppercase;
    font-size: 50px;
}

.top-left p{
    font-size: 24px;
}

.top-right img{
    width: 70vh;
}

.mid{
    padding: 5vh 15vh 5vh 15vh;
    display: grid;
    grid-gap: 5vh;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    /* grid-auto-rows: 50vh; */
}

.cards, .imgBox{
    padding: 3vh;
}

.txt p{
    margin-top: 3vh;
    font-size: 20px;
    color: #fff;
}

.cards{
    /* border: 3px solid rgb(255, 59, 134); */
    border: none;
    border-radius: 12px;
    background: rgba(255, 59, 134, 0.8);
    text-align: center;
}

.imgBox{
    /* background: rgb(241, 241, 241); */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
}

.imgBox img{
    width: 20vh;
}

.bot-title h1{
    text-transform: uppercase;
    font-size: 50px;
}

.bot{
    padding: 2vh 15vh 15vh 15vh;
    margin-top: 5vh;
}

.bot-con{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.bot-img img{
    width: 100vh;
    margin-left: -5vh;
    /* margin-top: 5vh; */
}

.bot-txt{
    font-size: 24px;
    border-radius: 12px;
    margin-right: 5vh;
}

@media only screen and (max-width: 800px){
    #navbar{
        overflow: visible;
        height: 60px;
    }

    .menu{
        width: 100%;
        right: 0;
        top: 60px;
        background: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        max-height: 0;
        transition: 0.3s;
    }

    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
        border-radius: 0;
    }

    a#adm-log{
        display: block;
    }

    .btn{
        display: block;
        cursor: pointer;
    }

    .buttonn{
        display: grid;
        
    }

    .buttonn button{
        padding: 5px 10px;
    }

    .show{
        max-height: 500px;
    }

    .image{
        /* opacity: 0.8; */
        /* margin-left: 20px; */
        margin: 0;
        display: none;
    }

    .container{
        display: grid;
    }

    #container{
        height: 90vh;
        padding: 5vh;
    }

    #container h1{
        font-size: 40px;
    }

    #sec-bot{
        margin-top: 120vh;
    }

    #sec-bot img{
        /* width: 20vh; */
        display: none;
    }

    .title-con{
        text-align: left;
        margin-left: 5vh;
    }

    .title-con h1{
        font-size: 36px;
    }

    .txt-con h2{
        font-size: 26px;
        margin-left: 0;
    }

    .txt-con{
        margin-left: 5vh;
        padding-right: 10vh;
    }

    .content img{
        margin-left: 5vh;
    }

    .intro{
        /* margin-top: 30vh; */
        margin-left: 0;
        padding-right: 0;
    }

    .intro h1{
        font-size: 40px;
    }

    .intro p{
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    .buttonn{
        float: left;
    }

    .buttonn button{
        font-size: 20px;
        width: 25vh;
    }

    .top{
        display: grid;
    }

    .top h1{
        font-size: 36px;
    }

    .top-left p{
        font-size: 20px;
    }

    .top-left{
        padding-right: 10vh;
        margin-left: -10vh;
    }

    .top-right img{
        margin-left: -20vh;
        width: 65vh;
    }

    .mid{
        margin-left: 5vh;
        grid-gap: 2rem;
        padding-left: 0;
    }

    .imgBox{
        padding: 0;
    }

    .bot{
        padding-left: 5vh;
    }

    .bot-con{
        display: grid;
    }

    .bot-title h1{
        font-size: 36px;
        margin-bottom: -5vh;
    }

    .bot-img img{
        width: 60vh;
        margin-bottom: 0;
        margin-left: 0;
    }

    .bot-txt{
        font-size: 20px;
        padding: 2vh;
    }

    .bot-txt h2{
        font-size: 26px;
    }

    #pel{
        float: left;
    }

    #kasus{
        padding: 0;
        margin-top: 15vh;
    }

    #container p{
        font-size: 20px;
    }

    #content{
        border: none;
        padding: 0;
    }

    .card{
        padding: 1vh;
        width: 40vh;
    }

    .card h3{
        font-size: 22px;
    }
    
    .card h2{
        font-size: 24px;
    }

    iframe{
        height: 70vh;
    }

    #btnTop{
        padding: 17px;
        font-size: 23px;
    }
}